<style type="text/css">
	*{
		font-family: georgia;
	}
</style>
<p style="font-size: 2eb;">Hello,</p>
<div class="article" style="background-color: rgba(254,0,0,0.4);">
<div style="margin-left: 10px;">
<h1 align="center"><u><%= @det.title %></u><h1>
<h5><%= @det.created_at %></h5>
<h3><%=h truncate(@det.body, :length => 200) %></h3>
<p>To read more Articles:</p>
<%= url_for(host: "http://bloggerx.herokuapp.com", controller: "articles", action: "index") %>
<br>
Regards,
<br>BloggerX
</div>
</div>